body{
    background-image: url(./storage/img/pngtree-healthy-thai-food-recipes-concept-picture-image_15445097.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    width: 100%;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: rgb(193, 191, 191);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 25px;
}
.logo img{
    width: 50px;
    height: 50px;
}

header h1 {
    font-size: 30px;
    text-align: center;
}

.formularioRecetas{
    background: rgba(0, 0, 0, 0.521);
    border: 1px solid white;
    max-width: 700px;
    width: 95%;
    text-align: center;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 130px;
    color: white;

    
}
.formRecetas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

form input {
    height: 30px;
    width: 85%;
    border-radius: 30px;
    border: none;
    padding-left: 15px;
}
form select{
    height: 30px;
    width: 85%;
    border-radius: 30px;
    border: none;

}

.botonEnviar{
    height: 30px;
    width: 200px;
    border-radius: 50px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}
.botonEnviar:hover{
    background: rgb(178, 4, 4);

}


.modal{
    display: none;
    max-width: 500px;
    width: 90%;
    margin-top: 50px;
    background: rgba(0, 0, 0, 0.521);
    color: white;

}
#userList{
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 50px;

}

.receta-card{
    border: 1px solid white;
    padding: 50px;
    background: rgba(162, 161, 161, 0.71);
    color: white;
    border-radius: 30px;
    max-width: 500px;
    width: 80%;


}
.receta-card p{

}
.receta-card p strong{

}


.modal-content{
    border: 1px solid white;
    max-width: 700px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border-radius: 30px;


}

#editForm{
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
        background: rgba(0, 0, 0, 0.521);


}
.botones{
    height: 30px;
    width: 200px;
    border-radius: 50px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 5px;

}
.botones:hover{
    background: rgb(178, 4, 4);
}
.busqueda{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.busqueda input{
    height: 30px;
    width: 200px;
    border-radius: 30px;
    border: none;
    padding-left: 15px;
}
.busqueda select{
    height: 30px;
    width: 200px;
    border-radius: 30px;
    border: none;
}
.clearAll{
    height: 50px;
    width: 200px;
    border-radius: 50px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.clearAll:hover{
    background: rgb(178, 4, 4);
}
.container{
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.521);
    border: 1px solid white;

}
.container h1{
    color: white;
    font-size: 40px;
}


footer {
    background-color: #4a4a4a;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

  }
  .div__footer {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .div__footer a,
  .div__footer p {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  .div__footer a img {
    width: 40px;
    height: 40px;
  }
@media (max-width: 600px) {
    .receta-card {
        padding: 20px;
    }

    .botones, .clearAll {
        width: 100%;
    }

    form input, form select {
        width: 95%;
    }
}
